<nav class="navbar navbar-expand-lg navbar-dark bg-dark p-2">
    <a class="navbar-brand" routerLink="/home">Digital Coursera</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" routerLink="/home">Home <span class="sr-only">(current)</span></a>
            </li>
            <!-- <li class="nav-item">
                <a class="nav-link" routerLink="/courses">Courses</a>
            </li> -->
        </ul>
        <div class="form-inline my-2 my-lg-0">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item ">
                    <a *ngIf="notLoggedIn()" class="nav-link" routerLink="/login">Login
                        <span class="sr-only">(current)</span></a>
                    <a *ngIf="loggedIn()" class="nav-link" routerLink="/dashboard/123">Dashboard
                        <span class="sr-only">(current)</span></a>
                    
                </li>
                <li *ngIf="loggedIn()">
                    <a (click)="logout()" class="nav-link">Sign Out
                        <span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
    </div>
</nav>