<app-navbar></app-navbar>
<div class="container">
    <section class="jumbotron text-center mt-3 mt-sm-2">
        <div class="container">
            <div class="d-flex wrapper">
                <div>
                    <h1 class="jumbotron-heading text-uppercase">{{courseInfo.title}}</h1>
                    <p class="lead text-muted ">{{courseInfo.description}}</p>
                    <p>
                        <button 
                            class="btn btn-outline-secondary my-2 mr1" 
                            (click)="addCourse()" 
                            *ngIf="loggedIn()">
                            Add course</button>
                    </p>
                    <p class="lead text-muted" *ngIf="notLoggedIn()">* You need to be logged in to add this course</p>
                </div>
                <div>
                    <img [src]="courseInfo.imageUrl" style="height: 200px; width: auto;">
                </div>
            </div>
        </div>
    </section>
</div>


<div class="container mb-4">
    <div class="bd-content-title mb-2" style="font-size: 2rem;font-weight: 500;">
        Course Content
    </div>
    <div class="row">
        <div class="col-12 col-sm-8">
            <div id="courseContent" class="accordion mb-2" *ngFor="let lesson of courseInfo.lessons;let i = index">
                <div class="card">
                    <a role="button" data-toggle="collapse" data-parent="#courseContent" [href]="'#collapse'+i"
                        aria-expanded="true" [attr.aria-controls]="'collapse'+i">
                        <div class="card-header" role="tab" [id]="'course'+i">
                            <h5 class="mb-0 text-capitalize">{{lesson.title}} </h5>
                        </div>
                    </a>
                    <div [id]="'collapse'+i" class="collapse" [attr.aria-labelledby]="'collapse'+i">
                        <div class="card-body">
                           <div class="mb-2">{{lesson.description}}</div>
                            <div id="assignments" class="accordion mb-2" *ngFor="let assignment of lesson.assignments;">
                                <div class="card">
                                    <a role="button" data-toggle="collapse" data-parent="#assignments"
                                        [href]="'#assgnmnt'+assignment._id" aria-expanded="true"
                                        [attr.aria-controls]="'assgnmnt'+assignment._id">
                                        <div class="card-header" role="tab">
                                            <h5 class="mb-0 text-capitalize">{{assignment.title}}</h5>
                                        </div>
                                    </a>
                                    <div [id]="'assgnmnt'+assignment._id" class="collapse px-3 py-3"
                                        [attr.aria-labelledby]="'assgnmnt'+assignment._id">
                                        {{assignment.description}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>